# Auto detect text files and perform LF normalization
* text=auto
model.pb filter=lfs diff=lfs merge=lfs -text
#data/1.[[:space:]]data_sin_limpiar/reviews.csv.gz filter=lfs diff=lfs merge=lfs -text
#data/2.[[:space:]]data_sin_nulos/df_calendar.csv filter=lfs diff=lfs merge=lfs -text
#data/2.[[:space:]]data_sin_nulos/df_reviews.csv filter=lfs diff=lfs merge=lfs -text
#data/3.[[:space:]]data_sin_outliers/df_calendar filter=lfs diff=lfs merge=lfs -text
#data/3.[[:space:]]data_sin_outliers/df_reviews filter=lfs diff=lfs merge=lfs -text
*.feather filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
